/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/

# rspec failure tracking
.rspec_status
.exclude_list

PXXXX Campaigns - Grantee - Names - Discrepancies-*.csv
PXXXX Campaigns - Grantee - Names - Discrepancies.csv
